<div class="container">
  <header>
    <h2><a href="/">Edgar's Weather Forecast</a></h2>
  </header>
  <div class="row extra-top-margin">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @city %></h3>
      </div>
      <div class="panel-body">
        <% if not @forecasts.empty? %>
          <% @forecasts["list"].each_with_index do |forecast, index| %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div>
              <h4>
                <%= forecast["temp"]["day"] %>ยบ
                <img src="<%= "http://openweathermap.org/img/w/#{forecast['weather'][0]['icon']}.png" %>">
              </h4>
              <time>
                <a data-toggle="modal"
                  href=<%= "detail-modal-#{index}"%>
                  data-target="<%= "#detail-modal-#{index}"%>">

                  <%= (Time.now + index.day).strftime("%d/%m/%Y") %>
                </a>
              </time>

              <div class="modal fade"
                tabindex="-1" role="dialog"
                aria-labelledby="mySmallModalLabel"
                id="<%= "detail-modal-#{index}"%>">

                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button"
                        class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">
                        <%= @city %>
                        <%= (Time.now + index.day).strftime("%d/%m/%Y") %> - Temperature: <%= forecast["temp"]["day"] %>ยบ
                        <img src="<%= "http://openweathermap.org/img/w/#{forecast['weather'][0]['icon']}.png" %>">
                      </h4>
                    </div>
                    <div class="modal-body">
                      <p>Min: <%= forecast["temp"]["min"] %>ยบ</p>
                      <p>Max: <%= forecast["temp"]["max"] %>ยบ</p>
                      <p>Pressure: <%= forecast["pressure"] %></p>
                      <p>Humidity: <%= forecast["humidity"] %></p>
                      <p>Speed: <%= forecast["speed"] %></p>
                      <p>Direction: <%= forecast["deg"] %></p>
                      <p>Condition: <%= forecast["weather"][0]["main"] %></p>
                      <p>
                        Description:
                        <%= forecast["weather"][0]["description"] %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <p>Sorry we didn't find a forecast.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
